@model Web.Areas.AdminPanel.Models.IndexViewModel
@{
    ViewData["Title"] = "Panneau d'administration";
}

@section Navigation {
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/Index">Retour au site</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/MyProfile?id=@Model.User.Id">@Model.User.UserName</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/Logout">Déconnexion</a>
    </li>
}

<div class="text-center">
    <p>Hello world !</p>
</div>

@section LiensAdmin {
    <li class="list-inline-item">
        <a href="/AdminPanel/Index/Index" class="text-white-50">Panneau d'Administration</a>
    </li>
}