@{
    ViewData["Title"] = "Panneau d'administration";
}

@section Navigation {
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/Index">Retour au site</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/Logout">Déconnexion</a>
    </li>
}

<div class="text-center">
    <p>Hello world !</p>
</div>

@section LiensUtiles {
    <li class="list-inline-item">
        <a href="" class="btn btn-primary"><i class="fas fa-long-arrow-alt-right"></i> Panneau d'Administration</a>
    </li>
}