@model Web.Models.Site.RegisterViewModel
@{
    ViewData["Title"] = Model.Title;
}

@section Navigation {
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Login/Index">Connexion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white custom-nav-link" href="/Register/Index">Inscription</a>
    </li>
}

<h1>S'inscrire sur l'Arche</h1>
<div class="custom-block">
    <form method="post">

        <p>Pour vous inscrire il vous faudra un nom d'utilisateur ainsi qu'une adresse Email valide.</p>
        <p>
            Un seul compte par adresse Email est autorisé.<br />
            Deux comptes avec le même nom d'utilisateur peuvent co-exister. Néanmoins il s'agira bien de deux joueurs différents.
        </p>
        <p>Aussi, chaque compte peut posséder plusieurs compte minecraft. Il ne faut donc pas re-créer un compte Arche pour ses autres comptes minecraft.</p>

        @if (Model.RegisterationFailed)
        {
            <div class="alert-danger text-center">
                <h4>Erreur de connexion :</h4>
                <p>@Model.ErrorMessage</p>
            </div>
        }

        <div class="form-group">
            <label for="email">Adresse Email</label>
            <input class="form-control" id="email" name="email" type="email" placeholder="Exemple : archerp@gmail.com" required />
            <small id="emailHelp" class="form-text text-muted">Un seul compte Arche par Email. Nous ne partagerons aucune de vos données.</small>
        </div>

        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input class="form-control" id="username" name="username" type="text" placeholder="Pseudonyme" required />
        </div>

        <div class="form-group">
            <label for="pass">Mot de passe</label>
            <input class="form-control" id="pass" name="pass" type="password" placeholder="Mot de passe" required />
        </div>

        <button type="submit" class="btn btn-primary d-block ml-auto">S'inscrire</button>
    </form>
</div>

