@{
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="post-preview">
            <iframe class="video-youtube" src="https://www.youtube.com/embed/uuhg1AVhcgY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <!-- Shop -->
            <div class="post-preview shop-home">
                <div class="shop-content p-4">
                    <h4>Articles populaires</h4>
                    <a href="https://arche-rp.fr/shop">
                        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/748634368292945992/753993122941239406/2020-09-11_16.57.47.png" alt="">
                    </a>
                    <a href="https://arche-rp.fr/shop">
                        <img class="card-img-top" src="https://cdn.discordapp.com/attachments/782285233499144223/798551622559989770/unknown.png" alt="">
                    </a>
                    <a href="https://arche-rp.fr/shop">
                        <img class="card-img-top" src="http://localhost/azuriom/storage/packages/kmJPW5Ik7DWxYAmL9hL4w08b41f2W6F2b4UtMzTs.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Discord -->
            <div class="post-preview">
                <h4>Discord</h4>
                <iframe class="discord" src="https://discordapp.com/widget?id=743906131151421541&theme=dark"></iframe>
            </div>
        </div>
    </div>
</div>
