@model IndexViewModel
@{

}

@section Navigation {
    @if (Model.UserAuthenticated)
    {
        @if (Model.User.IsAtLeastAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-white custom-nav-link" href="/AdminPanel/Index/Index">Panneau d'Administration</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-white custom-nav-link" href="/Profile/EditProfile?userId=@Model.User.Id">@Model.User.UserName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white custom-nav-link" href="/Login/Logout">Déconnexion</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white custom-nav-link" href="/Login">Connexion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white custom-nav-link" href="/Register">Inscription</a>
        </li>
    }
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="post-preview">
            <iframe class="video-youtube" src="https://www.youtube.com/embed/uuhg1AVhcgY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <!-- Shop -->
            <div class="post-preview shop-home">
                <div class="shop-content p-4">
                    <h4>Articles populaires</h4>
                    @if (!Model.Articles.Any())
                    {
                        <div class="text-center text-white">
                            Aucun article n'a été publié.
                        </div>
                    }

                    @foreach (var article in Model.Articles)
                    {
                        <a href="/Article?articleId=@article.Id">
                            <img class="card-img-top" src="@article.HeaderUrl" alt="@article.Title">
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Discord -->
            <div class="post-preview">
                <h4>Discord</h4>
                <iframe class="discord" src="https://discordapp.com/widget?id=743906131151421541&theme=dark"></iframe>
            </div>
        </div>
    </div>
</div>

@section LiensAdmin {
    @if (Model?.User?.IsAtLeastAdmin() ?? false)
    {
        <li class="list-inline-item">
            <a href="/AdminPanel/Index/Index" class="text-white-50">Panneau d'Administration</a>
        </li>
    }
}
